<section class="jumbotron text-center">
    <div class="container" id="trending-anime">
      <h1 class="jumbotron-heading">Trending Animes</h1>
      <p class="lead text-muted">Here are some of the currently trending anime.</p>
      <p>
        <a href="#" class="btn btn-secondary my-2">Adventure</a>
        <a href="#" class="btn btn-secondary my-2">Sci-Fi</a>
        <a href="#" class="btn btn-secondary my-2">Horror</a>
      </p>
    </div>
</section>

<div class="container">
    <% trendingAnimes.forEach(anime => { %>
        <% if (!currentUser) { %>
            <!-- DISPLAYS ONLY IMAGES FOR NON-LOGGED USERS -->
            <div class="column">
            <img src="<%= anime.attributes.posterImage.small %>" alt="<%= anime.attributes.canonicalTitle %>">
            </div>
        <% } else { %>
            <!-- DISPLAYS ONLY FOR LOGGED IN USERS -->
            <!-- DISPLAY TITLE -->
            <!-- <p>Title: <%= ///anime.attributes.canonicalTitle %></p> -->
            <!-- DISPLAYS CLICKABLE IMAGE -->
            <div class="column">
                <a href="/anime/details/<%= anime.id %>">
                    <img class="border border-secondary" src="<%= anime.attributes.posterImage.small %>" alt="<%= anime.attributes.canonicalTitle %>">
                </a>
            </div>
            <!-- FAVORITES BUTTON -->
            <form method="POST" action="/anime/favorites">
                <input hidden type="text" name="animeTitle" value="<%= anime.attributes.canonicalTitle %>">
                <input hidden type="text" name="uniqueId" value="<%= anime.id %>">
                <input hidden type="text" name="animeImage" value="<%= anime.attributes.posterImage.small %>">
                <button class="btn btn-success" type="submit">Favorite</button>
            </form>
            <br/>
        <% }; %>
    <% }); %>
</div>