<div class="container">
    <% animeResults.forEach(anime => { %>
        <% if (!currentUser) { %>
            <!-- DISPLAYS ONLY IMAGES FOR NON-LOGGED USERS -->
            <img src="<%= anime.attributes.posterImage.small %>" alt="<%= anime.attributes.canonicalTitle %>">
            <br/>
        <% } else { %>
            <!-- DISPLAYS ONLY FOR LOGGED IN USERS -->
            <!-- DISPLAY TITLE -->
            <% if (anime.attributes.titles.en) { %>
                <p>Title: <%= anime.attributes.titles.en %> </p>
            <% } else { %>
                <p>Title: <%= anime.attributes.canonicalTitle %></p>
            <% }; %>
            <!-- DISPLAY IMAGE -->
            <img src="<%= anime.attributes.posterImage.small %>" alt="<%= anime.attributes.slug %>">
            <br/>
            <!-- DETAILS BUTTONS -->
            <div class="btn btn-dark">
                <a href="/anime/details/<%= anime.id %>">Details</a>
            </div>
            <!-- FAVORITES BUTTON -->
            <form method="POST" action="/anime/favorites">
                <input hidden type="text" name="searchResult" value="<%= anime.attributes.titles.en %>">
                <button class="btn btn-success" type="submit">Favorite</button>
            </form>
            <br/>
        <% }; %> 
    <% }); %>
    <a href="/">&larr; Home</a>
</div>