<div class="container">

    <ul>
        <% animeResults.forEach(anime => { %>
            <img src="<%= anime.attributes.posterImage.small %>" alt="<%= anime.attributes.slug %>">
            <li>
                <% if (anime.attributes.titles.en) { %>
                <p>Title: <%= anime.attributes.titles.en %> </p>
                <% } else { %>
                <p>Title: <%= anime.attributes.canonicalTitle %></p>
                <% }; %>
                <a href="/anime/details/<%= anime.id %>">Details</a>
                <br/>
            </li>
        <% }); %>
    </ul>
<a href="/">&larr; Home</a>
</div>